<div class="nested-fields">
  <%= f.input :bride %>
  <%= f.input :groom %>
  <%= f.input :date, as: :date_picker, placeholder: 'Select Wedding Date', input_html: {class: "form-control"} %>
</div>