<section class="h-hero">
	<div class="container h-hero-container">
		<div class="col-sm-6">
				<h1 class="intro">Receive RSVPs and Manage your Guest list for Free.</h1>
				<p><strong>Easily accept RSVPs online and get a complete guest list which includes all additional guests or plus-ones</strong></p>
				<p><%= link_to "Get started Now!", new_account_path, class: 'btn btn-success btn-lg' %></p>
		</div>
		<div class="col-sm-6 ">
		<div class="hero-image">
			
		</div>
		</div>
	</div>
</section>
<section class="how">
	<div class="container steps">
			<p><h1>How it works</h1></p>
			<ol>
		<div class="row steps-rows">
				<div class="col-sm-6 col-md-offset-0"><li class="steps-num">Send Your invites</li><p class="steps-elabor8">You can send your invites via sms, email or paper. All you need to do is include the link to your invitted.co.za RSVP page on your invites. </p> </div>
				<div class="col-sm-6 col-md-offset-0"><li class="steps-num">Guests RSVP</li> <p class="steps-elabor8">Your Guests RSVP via your invitted.co.za RSVP page, and they can add any accompanying guest(s), as well as leave messages of congratulations </p></div>
		</div>
		<div class="row steps-rows">
				<div class="col-sm-6 col-md-offset-0"><li class="steps-num">Manage Guest list</li> <p class="steps-elabor8">See which Guests have accepted and which have declined the invitation, you will also be able to see the exact number of guests attending</p></div>
		</div>
		</ol>
	</div>
</section>