
#flash_notice {
  @extend .alert;
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}
.centered {
  text-align: center;
}
.navbar {
    min-height: 60px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-white {
  background-color: #fff;
  border-color: #e7e7e7;
}

.navbar .right-buttons {
  margin-right: 15px;
  margin-left: 25px;
}
.hero-image {
  background: url("invitted-hero.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;

  background-size: contain;
  max-width: 100%;
  height: 620px;
}
.img-container {
  text-align: center;
  margin-bottom: 20px;
}

.avatar img {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 50px;

}
span label {
  font-size: 10px;
  padding-right: 20px;
}
.panel {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.cube {
    background: none repeat scroll 0 0;
    border-radius: 4px;
    display: block;
    height: 80px;
    margin-bottom: 10px;
    padding: 25px 10px;
    position: relative;
    text-align: center;
    width: 80px;
    color: #fff;
}
.cube-lrg {
    background: none repeat scroll 0 0 #7e57c2;
    border-radius: 4px;
    display: block;
    height: 80px;
    margin-bottom: 10px;
    padding: 15px 10px;
    position: relative;
    text-align: center;
    width: 330px;
    color: #fff;
}
.klein {
  width: 60px;
}

.h-hero {
  background-color: #fff;
}

.h-hero-container {
  padding-top: 20px;
  padding-bottom: 80px;
  overflow: hidden;
}

.how {
  background-color: #0ea29d;
}
.steps {
  padding-top: 50px;
}

.steps-rows {
  padding-bottom: 30px;
}

.steps-num {
  color: #caf9f8;
  font-size: 200%;
}

.steps-elabor8 {
  color: #fff;
}


$default: #7e57c2;
$success: #00b386;
$info: #039be5;
$warning: #f56256;

.intro {
  color: $default;
  font-family: "calibri";
}

.l-default {
  background-color: $default;
}
.l-success {
  background-color: $success;
}
.l-info {
  background-color: $info;
}
.l-warning {
  background-color: $warning;
}
.partial-inline {
  margin-bottom: 20px !important;
}